<div class="page-header">
  <h3>Deputy #<%= @deputy.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @deputy.name %></dd>

      <dt>Party</dt>
      <dd><%= @deputy.party %></dd>

      <dt>Sex</dt>
      <dd><%= @deputy.sex %></dd>

      <dt>State</dt>
      <dd><%= @deputy.state %></dd>

      <dt>Telephone</dt>
      <dd><%= @deputy.telephone %></dd>

      <dt>Email</dt>
      <dd><%= @deputy.email %></dd>

      <dt>Picture</dt>
      <dd><%= @deputy.picture %></dd>

      <dt>Expenses</dt>
      <dd><%= @deputy.expenses %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/deputies" class="btn btn-primary">
        Back
      </a>
      <a href="/deputies/<%= @deputy.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_deputy/<%= @deputy.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
